/*html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}
*/


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.center {
    margin: auto;
    width: 30%;
    border: 3px solid red;
    padding: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  color: cyan;
}

.graph .axis {
  stroke-width: 1;
  fill: gray;
  background-color: red;
  border-bottom: dashed;
  color: aliceblue;
}

table {
  border: 1px solid red;
}
th {
  text-align: left;
}
.grid .axis{
  stroke-width:4px;
  color: #777777;
}
.graph .axis .tick line {
  stroke: blue;
}

.graph .axis .tick text {
  fill: blue;
  font-size: 0.7em;
}

.graph .axis .domain {
    fill: none;
    stroke: red;
}


.segment_display{
  color: cyan;
  fill: red;

}

.area {
  fill: lightsteelblue;
  stroke-width: 0;
}
.graph .group {
  fill: none;
  stroke: red;
  stroke-width: 1.5;
}

